.registerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.registerTitle {
  font-size: 2em;
  margin-bottom: 20px;
}

.registerForm {
  padding: 2rem;
  background: #fff;
  border-radius: 8px;
  margin: 0 auto;
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
}

.registerFormGroup {
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.registerInput {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

label {
  padding-bottom: 0.2rem;
}
